<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Profile Generator</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}"
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!--<img src= "{{ url_for('static', filename='images/Background.png')}}">-->

    <style>

body {
    background-image: url(static/images/Background.png);
    background-image: norepeat;
    background-size: cover;
}

    </style>

</head>
<body>
    <h1>Random Profile Generator</h1>
    <p>The button below will generate a random profile for you, press it to create one! 
    </p>

    
<button id="id_btn" class="button" type="submit" pys-onclick="btn_clicked"> Generate a Profile Now </button>






 

</body>
    
 
 
</html>